@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
}

body {
    background-color: #eaeff1;
    font-family: "Poppins", sans-serif;
}

#container {
    max-width: 300px;
    /* Center the container in horizontal axis & Add empty space above container */
    margin: 20vh auto 0;
}

.card {
    background: #fff;
    border: 1px solid #bacdd8;
    padding: 8px;
    border-radius: 12px;
}

/* Provide space around core details */
.card-details {
    padding: 16px 8px 8px 8px;
}

.tag {
    padding: 4px 8px;
    border: 1px solid #e5eaed;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    color: #788697;
}

.name {
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
}

p {
    font-size: 14px;
    color: #7f8c9b;
    line-height: 1.5;
}

button {
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 600;
    color: #0077ff;
    background: #e0efff;
    cursor: pointer;
    /* Inline by default. Display block for margin 0 auto to work */
    margin: 0 auto;
    display: block;
}

button:focus, button:hover {
    background: #0077ff;
    color: #e0efff;
    transition: ease-in 0.15s;
}